In [11]:
#standard imports. Note: You must pip install nasdaqdatalink 1st

import os
import pandas as pd
import nasdaqdatalink
import requests
from pathlib import Path
import shutil

In [2]:
# Linking my API key to .env in the same folder. The key is stored in the folder without any quotations around it 

nasdaqdatalink.read_key(filename=".env")

In [3]:
#A function to retrieve a dataframe of counties, zips, etc
def get_regions(regions):
    region_df=nasdaqdatalink.get_table('ZILLOW/REGIONS', region_type=regions)  
    return region_df

In [4]:
# Using get_regions to retrieve a list of counties
region_df = get_regions('county')
region_df

     region_id region_type                                     region
None
0          999      county      Durham County; NC; Durham-Chapel Hill
1          998      county                          Duplin County; NC
2          997      county                  Dubois County; IN; Jasper
3          995      county                          Donley County; TX
4          993      county                          Dimmit County; TX
...        ...         ...                                        ...
2886      1003      county              Elmore County; AL; Montgomery
2887      1002      county                          Elbert County; GA
2888      1001      county  Elbert County; CO; Denver-Aurora-Lakewood
2889      1000      county                Echols County; GA; Valdosta
2890       100      county         Bibb County; AL; Birmingham-Hoover

[2891 rows x 3 columns]

In [5]:
list(region_df['region_id'])

['999',
 '998',
 '997',
 '995',
 '993',
 '992',
 '991',
 '990',
 '99',
 '989',
 '988',
 '986',
 '985',
 '984',
 '983',
 '982',
 '981',
 '980',
 '98',
 '979',
 '978',
 '977',
 '976',
 '975',
 '974',
 '973',
 '972',
 '971',
 '970',
 '97',
 '969',
 '968',
 '967',
 '966',
 '965',
 '964',
 '963',
 '962',
 '961',
 '960',
 '96',
 '959',
 '956',
 '955',
 '954',
 '952',
 '951',
 '950',
 '95',
 '949',
 '948',
 '947',
 '946',
 '945',
 '944',
 '943',
 '941',
 '940',
 '94',
 '939',
 '938',
 '937',
 '935',
 '934',
 '932',
 '931',
 '930',
 '93',
 '929',
 '926',
 '925',
 '924',
 '923',
 '922',
 '92',
 '919',
 '918',
 '917',
 '916',
 '915',
 '914',
 '913',
 '912',
 '911',
 '910',
 '91',
 '909',
 '908',
 '906',
 '905',
 '904',
 '903',
 '902',
 '901',
 '900',
 '90',
 '899',
 '898',
 '897',
 '896',
 '895',
 '894',
 '893',
 '892',
 '891',
 '890',
 '89',
 '889',
 '887',
 '885',
 '884',
 '883',
 '882',
 '881',
 '88',
 '878',
 '877',
 '875',
 '874',
 '873',
 '872',
 '871',
 '870',
 '87',
 '869',
 '868',
 '867',
 '866',
 '865',
 '864',
 '863',
 '862',
 '860',
 '86',
 '859',
 '858',
 '857',
 '856',
 '855',
 '854',
 '853',
 '852',
 '851',
 '850',
 '85',
 '849',
 '847',
 '845',
 '844',
 '842',
 '841',
 '840',
 '84',
 '839',
 '836',
 '835',
 '834',
 '833',
 '832',
 '830',
 '83',
 '829',
 '828',
 '827',
 '826',
 '825',
 '824',
 '823',
 '822',
 '820',
 '82',
 '819',
 '818',
 '816',
 '815',
 '813',
 '812',
 '811',
 '81',
 '809',
 '808',
 '807',
 '806',
 '805',
 '803',
 '802',
 '801',
 '80',
 '799',
 '798',
 '797',
 '796',
 '795',
 '794',
 '793',
 '792',
 '791',
 '790',
 '79',
 '789',
 '788',
 '787',
 '786',
 '785',
 '784',
 '783',
 '782',
 '781',
 '78',
 '779',
 '778',
 '777',
 '776',
 '775',
 '774',
 '773',
 '772',
 '771',
 '770',
 '77',
 '769',
 '768',
 '767',
 '766',
 '765',
 '764',
 '763',
 '762',
 '761',
 '760',
 '76',
 '759',
 '758',
 '757',
 '756',
 '754',
 '752',
 '751',
 '750',
 '75',
 '749',
 '748',
 '747',
 '746',
 '745',
 '744',
 '743',
 '742',
 '741',
 '740',
 '74',
 '739',
 '738',
 '737',
 '735',
 '734',
 '733',
 '732',
 '731',
 '730',
 '73',
 '729',
 '728',
 '727',
 '726',
 '725',
 '724',
 '723',
 '722',
 '720',
 '72',
 '717',
 '716',
 '715',
 '714',
 '713',
 '712',
 '711',
 '710',
 '708',
 '706',
 '705',
 '704',
 '703',
 '702',
 '701',
 '700',
 '70',
 '699',
 '698720',
 '698',
 '697',
 '696',
 '695',
 '694',
 '693',
 '692',
 '691',
 '690',
 '69',
 '689',
 '688',
 '685',
 '684',
 '683',
 '682',
 '681',
 '680',
 '68',
 '679',
 '678',
 '677',
 '676',
 '675',
 '673',
 '672',
 '671',
 '670',
 '67',
 '669',
 '668',
 '666',
 '665',
 '664',
 '663',
 '662',
 '661',
 '660',
 '66',
 '659',
 '658',
 '657',
 '656',
 '655',
 '654',
 '653',
 '652',
 '651',
 '650',
 '649',
 '648',
 '647',
 '646',
 '644',
 '643',
 '642',
 '641',
 '640',
 '639',
 '638',
 '637',
 '636',
 '635',
 '634',
 '633',
 '632',
 '631',
 '630',
 '628',
 '627',
 '626',
 '625',
 '624',
 '623',
 '622',
 '621',
 '620',
 '619',
 '618',
 '616',
 '615',
 '613',
 '612',
 '611',
 '608',
 '606',
 '605',
 '604',
 '603',
 '602',
 '601',
 '600',
 '599',
 '598',
 '597',
 '596',
 '595',
 '594',
 '593',
 '592',
 '590',
 '589',
 '588',
 '587',
 '585',
 '584',
 '582',
 '581',
 '580',
 '579',
 '578',
 '577',
 '575',
 '574',
 '573',
 '572',
 '571',
 '570',
 '568',
 '567',
 '566',
 '565',
 '564',
 '563',
 '562',
 '561',
 '560',
 '559',
 '558',
 '557',
 '556',
 '555',
 '554',
 '553',
 '552',
 '551',
 '549',
 '548',
 '547',
 '546',
 '545',
 '544',
 '543',
 '542',
 '541',
 '540',
 '539',
 '538',
 '535',
 '534',
 '533',
 '532',
 '531',
 '529',
 '528',
 '527',
 '526',
 '525',
 '524',
 '523',
 '522',
 '521',
 '520',
 '519',
 '517',
 '516',
 '515',
 '514',
 '513',
 '512',
 '511',
 '509',
 '508',
 '507',
 '506',
 '505',
 '504',
 '503',
 '502',
 '501',
 '500',
 '498',
 '497',
 '496',
 '495',
 '494',
 '493',
 '492',
 '491',
 '489',
 '487',
 '486',
 '485',
 '484',
 '483',
 '482',
 '481',
 '480',
 '478',
 '477',
 '475',
 '474',
 '473',
 '472',
 '471',
 '470',
 '469',
 '468',
 '467',
 '466',
 '465',
 '464',
 '463',
 '462',
 '461',
 '460',
 '459',
 '458',
 '457',
 '456',
 '455',
 '454',
 '453',
 '452',
 '450',
 '449',
 '448',
 '446',
 '445',
 '444',
 '443',
 '442',
 '441',
 '440',
 '438',
 '437',
 '434',
 '432',
 '431',
 '430',
 '429',
 '427',
 '425',
 '424',
 '423',
 '422',
 '421',
 '420',
 '418',
 '416',
 '415',
 '414',
 '413',
 '412',
 '410',
 '409',
 '408',
 '407',
 '406',
 '405',
 '404',
 '403',
 '401',
 '400',
 '399',
 '398',
 '396',
 '395',
 '394',
 '393',
 '392',
 '391',
 '390',
 '389',
 '388',
 '387',
 '386',
 '385',
 '384',
 '383',
 '382',
 '381',
 '380',
 '379',
 '378',
 '377',
 '376',
 '375',
 '374',
 '373',
 '372',
 '371',
 '370',
 '369',
 '368',
 '367',
 '366',
 '365',
 '364',
 '363',
 '362',
 '361',
 '360',
 '359',
 '358',
 '357',
 '356',
 '355',
 '354',
 '353',
 '352',
 '351',
 '350',
 '349',
 '348',
 '347',
 '346',
 '345',
 '344',
 '343',
 '342',
 '341',
 '340',
 '339',
 '338',
 '337',
 '336',
 '335',
 '334',
 '333',
 '332',
 '331',
 '330',
 '3291',
 '3290',
 '329',
 '3289',
 '3288',
 '3287',
 '3286',
 '3285',
 '3283',
 '3282',
 '328',
 '3279',
 '3278',
 '3277',
 '3276',
 '3275',
 '3274',
 '3273',
 '3272',
 '3271',
 '3270',
 '327',
 '3269',
 '3266',
 '3265',
 '3264',
 '3263',
 '3262',
 '3261',
 '3260',
 '326',
 '3259',
 '3258',
 '3257',
 '3256',
 '3255',
 '3254',
 '3253',
 '3252',
 '3251',
 '3250',
 '325',
 '3249',
 '3248',
 '3247',
 '3246',
 '3245',
 '3244',
 '3243',
 '3242',
 '3241',
 '3240',
 '324',
 '3239',
 '3238',
 '3237',
 '3236',
 '3230',
 '323',
 '3229',
 '3227',
 '3226',
 '3225',
 '3224',
 '3223',
 '3222',
 '3221',
 '322',
 '3219',
 '3218',
 '3217',
 '3216',
 '3215',
 '3214',
 '3213',
 '3212',
 '3211',
 '3210',
 '3209',
 '3206',
 '3205',
 '3203',
 '3202',
 '3201',
 '3200',
 '320',
 '3199',
 '3197',
 '3194',
 '3193',
 '3192',
 '3190',
 '319',
 '3188',
 '3187',
 '3186',
 '3185',
 '3184',
 '3183',
 '3182',
 '3180',
 '318',
 '3178',
 '3177',
 '3176',
 '3175',
 '3174',
 '3173',
 '3172',
 '3171',
 '3170',
 '317',
 '3169',
 '3168',
 '3167',
 '3166',
 '3165',
 '3164',
 '3163',
 '3162',
 '3161',
 '3160',
 '316',
 '3159',
 '3158',
 '3157',
 '3156',
 '3155',
 '3152',
 '3151',
 '315',
 '3149',
 '3148',
 '3147',
 '3146',
 '3145',
 '3144',
 '3143',
 '3142',
 '3141',
 '3140',
 '314',
 '3139',
 '3138',
 '3137',
 '3136',
 '3134',
 '3133',
 '3132',
 '3131',
 '3130',
 '313',
 '3129',
 '3128',
 '3127',
 '3126',
 '3124',
 '3123',
 '3122',
 '3121',
 '312',
 '3119',
 '3118',
 '3117',
 '3116',
 '3115',
 '3114',
 '3113',
 '3112',
 '3111',
 '311',
 '3109',
 '3108',
 '3106',
 '3105',
 '3104',
 '3103',
 '3102',
 '3101',
 '3100',
 '310',
 '3098',
 '3097',
 '3096',
 '3094',
 '3093',
 '3092',
 '3091',
 '3090',
 '309',
 '3089',
 '3088',
 '3087',
 '3086',
 '3084',
 '3082',
 '3081',
 '3080',
 '308',
 '3079',
 '3078',
 '3077',
 '3076',
 '3075',
 '3074',
 '3073',
 '3072',
 '3071',
 '3070',
 '3069',
 '3068',
 '3067',
 '3066',
 '3065',
 '3064',
 '3063',
 '3062',
 '3061',
 '3060',
 '306',
 '3059',
 '3058',
 '3057',
 '3055',
 '3054',
 '3053',
 '3052',
 '3051',
 '3050',
 '305',
 '3049',
 '3048',
 '3047',
 '3046',
 '3045',
 '3044',
 '3043',
 '3042',
 '3041',
 '3040',
 '304',
 '3039',
 '3038',
 '3037',
 '3036',
 '3035',
 '3034',
 '3033',
 '3032',
 '3031',
 '3030',
 '303',
 '3029',
 '3028',
 '3026',
 '3025',
 '3024',
 '3023',
 '3022',
 '3020',
 '302',
 '3019',
 '3017',
 '3016',
 '3015',
 '3014',
 '3013',
 '3012',
 '3011',
 '3010',
 '301',
 '3008',
 '3007',
 '3006',
 '3005',
 '3004',
 '3003',
 '3002',
 '3001',
 '3000',
 '300',
 '2999',
 '2998',
 '2997',
 '2996',
 '2995',
 '2994',
 '2993',
 '2992',
 '2991',
 '2990',
 '299',
 '2989',
 '2988',
 '2987',
 '2986',
 '2985',
 '2984',
 '2983',
 '2982',
 '2981',
 '2980',
 '298',
 '2979',
 '2978',
 '2976',
 '2975',
 '2974',
 '2973',
 '2972',
 '2971',
 '2970',
 '297',
 '2969',
 '2968',
 '2967',
 '2966',
 '2965',
 '2964',
 '2963',
 '2962',
 '2961',
 '2960',
 '296',
 '2959',
 '2958',
 '2957',
 '2956',
 '2955',
 '2954',
 '2953',
 '2952',
 '2950',
 '295',
 '2949',
 '2948',
 '2947',
 '2945',
 '2943',
 '2942',
 '2941',
 '2940',
 '294',
 '2939',
 '2938',
 '2937',
 '2936',
 '2934',
 '2933',
 '2932',
 '2931',
 '2930',
 '293',
 '2929',
 '2928',
 '2927',
 '2926',
 '2925',
 '2924',
 '2923',
 '2922',
 '2920',
 '292',
 '2919',
 '2918',
 '2917',
 '2916',
 '2915',
 '2914',
 '2913',
 '2912',
 '2911',
 '2910',
 '291',
 '2909',
 '2908',
 '2907',
 ...]

In [9]:
# The actual API call using the SDK.
# Instructions can be found here https://data.nasdaq.com/databases/ZILLOW/usage/quickstart/python
# Replace 'quandl' w/ 'nasdaqdatalink

# '''data = nasdaqdatalink.get_table('ZILLOW/DATA', paginate=True, indicator_id='ZSFH', region_id=list(region_df['region_id']))'''

data = nasdaqdatalink.export_table('ZILLOW/DATA', indicator_id='ZSFH', region_id=list(region_df['region_id']),filename='db.zip')

DataLinkError: (Status 413) Something went wrong. Please try again. If you continue to have problems, please contact us at connect@data.nasdaq.com.

In [17]:
shutil.unpack_archive('db.zip')

In [19]:
zillow_data=pd.read_csv(
    Path('ZILLOW_DATA_d5d2ff90eb7172dbde848ea36de12dfe.csv')
)

In [24]:
display(zillow_data.head(10))
display(zillow_data.tail(10))

  indicator_id  region_id        date     value
0         ZSFH        100  2007-11-30  123760.0
1         ZSFH        100  2007-12-31  123754.0
2         ZSFH        100  2008-01-31  123605.0
3         ZSFH        100  2008-02-29  123393.0
4         ZSFH        100  2008-03-31  123095.0
5         ZSFH        100  2008-04-30  123018.0
6         ZSFH        100  2008-05-31  122855.0
7         ZSFH        100  2008-06-30  122883.0
8         ZSFH        100  2008-07-31  122853.0
9         ZSFH        100  2008-08-31  123015.0

       indicator_id  region_id        date     value
669306         ZSFH        999  2021-09-30  346041.0
669307         ZSFH        999  2021-10-31  355160.0
669308         ZSFH        999  2021-11-30  361432.0
669309         ZSFH        999  2021-12-31  368325.0
669310         ZSFH        999  2022-01-31  380061.0
669311         ZSFH        999  2022-02-28  390111.0
669312         ZSFH        999  2022-03-31  401621.0
669313         ZSFH        999  2022-04-30  411421.0
669314         ZSFH        999  2022-05-31  422028.0
669315         ZSFH        999  2022-06-30  430509.0